# Data & outputs
data/
outputs/
wandb/

# Environment
DP/
.venv/
.python-version

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Model weights (use wandb artifacts or releases instead)
*.pt

# Logs
*.log

# Experiments artifacts
*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
